@font-face {
	font-family: 'Anton';
	font-weight: 400;
	font-style: normal;
	src: url('../assets/font/Anton-Regular.ttf');
}
@font-face {
	font-family: 'Manrope';
	src: url('../assets/font/Manrope-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../assets/font/Manrope-Medium.ttf');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope';
	src: url('../assets/font/Manrope-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
* {
	font-family: 'Manrope', Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 667px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
		url('../assets/imgs/entete/entete.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 50px 70px;
}
header .logo {
	width: 328px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .logo img {
	width: 285px;
}
header .logo img.logo__circle {
	width: 40px;
}
header .infoContainer {
	width: 1000px;
	margin: 160px auto 0 auto;
}
header .infoContainer h2 {
	color: #ffd15b;
	text-align: center;
	font-family: 'Anton', Arial, Helvetica, sans-serif;
	font-size: 44px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	max-width: 700px;
	margin: 0 auto 37px auto;
}
header .infoContainer .search {
	width: 954px;
	position: relative;
}
header .infoContainer .search .search__erase {
	width: 13px;
	position: absolute;
	top: 29.5px;
	right: 85px;
}
header .infoContainer .search input {
	width: 954px;
	height: 72px;
	border-radius: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #7a7a7a;
	padding-left: 35px;
}
header .infoContainer .search .search__button {
	position: absolute;
	width: 52px;
	height: 52px;
	border-radius: 10px;
	background-color: #000;
	top: 10px;
	right: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .infoContainer .search .search__button img {
	width: 28px;
}
main {
	background-color: #ededed;
	padding: 20px 100px;
}
main .filters {
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	max-width: 1235px;
}
main .filters .filter,
main .filtersSelect .filterSelect {
	padding: 15px;
	display: flex;
	border-radius: 10px;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
main .filters .filter {
	background-color: #fff;
	margin-right: 65px;
	cursor: pointer;
}
main .filters .filter::after {
	content: '>';
	transform: rotate(90deg);
	margin-left: 63px;
}
main .filters .numberOfRecipes {
	margin-left: 380px;
	font-family: 'Anton', Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
main .filtersSelect {
	width: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	row-gap: 15px;
	column-gap: 55px;
	margin: auto;
	max-width: 1235px;
	margin-top: 21px;
}
main .filtersSelect .filterSelect {
	background-color: #ffd15b;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .filtersSelect .filterSelect::after {
	content: 'X';
	font-weight: 700;
	cursor: pointer;
}
main section {
	width: 1235px;
	margin: 55px auto;
	display: grid;
	column-gap: 48px;
	row-gap: 66px;
	grid-template-columns: repeat(3, 1fr);
}
main section article {
	width: 380px;
	height: 731px;
}
main section article figure {
	width: 380px;
	height: 731px;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	margin: 0;
	box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
main section article figure img {
	width: 380px;
	height: 253px;
	object-fit: cover;
}
main section article figure .duration {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px 15px;
	border-radius: 15px;
	background-color: #ffd15b;
}
main section article figure figcaption {
	padding: 0 25px;
}
main section article figure figcaption h3 {
	font-family: 'Anton', Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 30px 0 0 0;
}
main section article figure figcaption h4 {
	color: #7a7a7a;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 1.08px;
	text-transform: uppercase;
	margin: 30px 0 15px 0;
	text-align: justify;
}
main section article figure figcaption h4 .recipes {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
main section article figure figcaption .ingredients {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 100px;
	row-gap: 21px;
}
main section article figure figcaption .ingredients .ingredient h5 {
	margin: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
main section article figure figcaption .ingredients .ingredient p {
	margin: 0;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: #7a7a7a;
}
